h1{
font-family: 'Montserrat', sans-serif;
background-color: burlywood;
color: mediumpurple;
padding: 0px 5px 5px 5px;
border-radius: 20px;
border: 0px 5px 5px 5px;
margin: 0px !important;

}
.lateral{
	border-radius: 50%;
	width: 400px;
	height: 300px;
	display: inline;
}
.lateral1{
	border-radius: 50%;
	width: 400px;
	height: 300px;
	display: inline;
}
.nombre{
	width: 350px;
	margin-right: 60px;
	margin-left: 10px;
	height: 50px;
}
.edad{
	width: 350px;
	margin-right: 60px;
	height: 50px;
}
.trago{
	width: 350px;
	margin-right: 40px;
	height: 50px;
}
.boton{
	margin-left: 10px;
	width: 80px;
}
